<div class="score">
  <h3>Add up your score!</h3>
  <mat-list>
    <mat-list-item><button mat-mini-fab color="primary">{{ gameService.dreamerPoints }}</button>Dreamer</mat-list-item>
    <mat-list-item><button mat-mini-fab color="primary">{{ gameService.fairyPoints }}</button>Fairies</mat-list-item>
    <mat-list-item><button mat-mini-fab color="primary">{{ gameService.bogeymanPoints }}</button>Bogeymen</mat-list-item>
    <mat-list-item><button mat-mini-fab color="primary">{{ gameService.sandmanPoints }}</button>Sandmen</mat-list-item>
  </mat-list>
  <p>
    Now select the new Dreamer and randomly get a new role! After clicking the button the new round starts immediately!
  </p>
  <button mat-flat-button color="primary" routerLink="/guess" (click)="gameService.newRound()">Next Round</button>
</div>
