<div class="guess">
  <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile colspan="3" rowspan="5">
      <h1>Placeholder</h1>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <button mat-fab color="warn"><mat-icon>close</mat-icon></button>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <button mat-fab color="accent">Skip</button>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <button mat-fab color="primary"><mat-icon>check</mat-icon></button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
